{% load static %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>AutoML</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body style="background: #1f1f21;">
 <div class="login">
	<h1 style="color: #f3f3f3;">Test Task AutoML</h1>

<div style="color: #77cd39;"> Загрузите файл в формате .jpg для предсказания</div>
<hr>
    <form action="predict" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <input name="file_upload" placeholder="file" type="file" required="required" >
        <button type="submit" id="login" name="button" class="btn btn-primary btn-block btn-large" >Получить предсказание модели</button>
    </form>


   <br>

 </div>
</body>
</html>
